html {
  box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

img, 
embed, 
object, 
video {
  max-width: 100%;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section,
img {
	display: block;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem;
}

ul {
	margin: 0;
}

body {
	font-size: 1.6rem;
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-color: green;
}
  
header {
	background-color: blueviolet;
	margin: 0;
	padding-top: 1rem;
	//position: fixed;
  //top: 0;
  width: 100%;
	//z-index: 1000;
	
	ul {
		list-style: none;
	}
}

.header_title {

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 102px;
}

main {
	padding-top: 2rem;
	background-color: #f1f1f1;
}

/*
**Services
*/

.services_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.services_item {
	background-color: #fff;
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.services_item img {
	margin-top: 20px;
}

.gallery_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.gallery_item {
	width: 100%;
}

.testimonials_container {
	display: flex;
	flex-wrap: wrap;
}

.testimonial_item {
	width: 100%;
	border: burlywood 5px solid;
	margin: 1rem;
	padding: 1rem;
	border-radius: 0 2rem 2rem 2rem;
}

footer {

}

@media screen and (min-width: 300px) { 
	.gallery_container {
		padding: 0.5rem;
	}

	.gallery_item {
		width: calc(50% - 1rem);
		margin: 0.5rem;
	}
}

@media screen and (min-width: 450px) { 
	.gallery_item {
		width: calc(33.3333% - 1rem);
	}
}

@media screen and (min-width: 600px) { 
	.services_item {
		width: calc(50% - 2rem);
		margin: 1rem;
	}

	.gallery_item {
		width: calc(25% - 1rem);
	}

	.testimonials_container {
		justify-content: space-around;
	}

	.testimonial_item {
		width: calc(50% - 2rem);
	}
}

@media screen and (min-width: 750px) { 
	.gallery_item {
		width: calc(20% - 1rem);
	}
}

@media screen and (min-width: 900px) { 
	.services_item {
		width: calc(33.3333% - 2rem);
	}

	.gallery_item {
		width: calc(16.6666% - 1rem);
	}
}

@media screen and (min-width: 1024px) { 
	main {
		width: 1024px;
		margin: 0 auto;
	}

	.header_container {
		width: 1024px;
		margin: 0 auto;
	}
}
