html {
  box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

img, 
embed, 
object, 
video {
  max-width: 100%;
}

body{
	min-width: 320px;
	font-size: 14px;
}
  
header {

}

.header_title {

}
footer {

}